video.selected {
  outline: cyan;
  outline-width: 2px;
  outline-style: solid;
}

aside {
  display: block;
}

aside.my {
  float: right;
}

aside.other {
  float: left;
}

form {
  border: none;
  box-shadow: none;
}

select#cameras {
  display: inline;
}
